footer {
  #site-legal {
    background-color: $brand-primary;
    color: #fff;
    box-sizing: border-box;
    font-size: 14px;
  }
  #site-footer {
    box-sizing: border-box;
    background-size: cover;
  }
  .footer-logo {
    img {
      width: 100%;
      max-width: 150px;
    }
  }
  .nav-title {
    margin-top: 0;
    color: #fff;
  }
  .address-card {
    padding: 0;
    border: 0;
  }
  .footer-social-media {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    > a {
      font-size: 20px;
      &:not(:last-child) {
        margin-right: 12px;
        @media screen and(max-width: 769px) {
          img {
            width: 40px;
            height: auto;
          }
        }
        @media screen and(max-width: 480px) {
          img {
            width: 25px;
            height: auto;
          }
        }
      }
    }
  }
}
