// Layout
.gform_wrapper {
    padding: gutter();

    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0 !important;
    .gfield {
        margin-top: 0;
        .gfield_label {
            display: none !important;
        }
    }
    // fix weird chrome added style
    select {
        padding: 8px 15px !important;
        height: auto !important;
        margin-top: 12px !important;
        margin-bottom: 12px !important;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        padding: 10px 15px !important;
        width: 100% !important;
    }

    .gform_footer {
        margin-top: 0 !important;
        .gform_button {
            @extend .cta;
        }
    }

    form {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;

        .gform_heading {
            width: susy-span(12);
            margin-bottom: gutter();
        }

        .gform_body {
            width: susy-span(12);
        }

        .gform_footer {
            width: susy-span(12);

            // Place submitt button on right side
            text-align: right;
        }
    }
}

// Gravity Fields
.gform_fields {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .gfield_description {
        width: susy-span(10);
        margin-left: susy-span(2 wide);
        margin-top: gutter() / 2;
    }
}

// Horizontal Layout
.form-horizontal .gfield {
    margin-bottom: gutter();
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .gfield_label {
        width: susy-span(2);
        text-align: right;
    }

    .ginput_container {
        width: susy-span(10);
    }

    // NAME first and last.
    .ginput_complex {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;

        span {
            width: susy-span(6);
        }
    }

    // Usually Time IE: Hour - Minute - AM/PM
    .clear-multi {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        width: susy-span(10);

        .gfield_time_hour,
        .gfield_time_minute,
        .gfield_time_ampm {
            width: susy-span(5);
            max-width: 100px;
            padding: 0 1.1rem 0 0;
        }

        .gfield_time_ampm {
            width: susy-span(2);
        }
    }

    // List
    .gfield_list {
        @extend .table;

        .gfield_list_cell,
        .gfield_list_icons {
            border-color: transparent;
        }
    }

    // Checkbox and Radio Selection
    .gfield_checkbox,
    .gfield_radio {
        @include list-unstyled;

        li {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            input {
                margin: 0;
                padding: 0;
            }

            label {
                margin: 0;
                padding: 0.5rem;
            }
        }
    }
}

// bootstrap input styling
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select:not(.ui-datepicker-month):not(.ui-datepicker-year) {
    @extend .form-control;
}

// Buttons
.gform_button.button {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
}

// Validation
.gfield_required {
    color: $brand-danger;
    margin-left: 0.5rem;
}

.gform_validation_error {
    // Main error information in form header
    .validation_error {
        @extend .bg-danger;
        padding: gutter() / 2;
        margin: 0 0 gutter();
        width: susy-span(12);
        font-size: floor((100% * $font-size-small / $font-size-base));
    }

    // Validation_message
    .validation_message {
        color: $brand-danger;
        font-size: floor((100% * $font-size-small / $font-size-base));
    }

    // Highlight input fields on error
    .gfield_error input,
    select {
        background-color: lighten($brand-danger, 35%);
    }
}
