.site-header {
  z-index: 999;
  display: none;
  text-transform: uppercase;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $brand-secondary;
  .lg-ann-bar {
    background-color: $brand-primary;
    @media screen and (min-width: 992px) {
      background-color: transparent;
    }
  }
  @media screen and (min-width: 992px) {
    background-color: transparent;
    position: absolute;
  }

  // breakpoint settings here
  .navbar-collapser {
    display: none;
    #menu-main-menu {
      padding-top: 1rem;
      @media screen and (min-width: 992px) {
        display: flex;
        padding-top: 0;
      }
      li {
        float: none;
      }
    }
    @media screen and (min-width: 992px) {
      display: block !important;
    }
  }
  .site-branding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media screen and (min-width: 992px) {
      width: auto;
    }
    .mobile-toggle {
      display: block;
      @media screen and (min-width: 992px) {
        display: none;
      }
    }
  }

  .mobile-toggle {
    padding: 7px 8px;
    cursor: pointer;

    // @include breakpoint($screen-sm-min) {
    //   display: none;
    // }

    .fa {
      font-size: 20px;
      &:before {
        color: #fff;
      }
    }
  }

  .navbar-toggle {
    display: none;
  }

  // &:not(.sticky-header) {
  //   .site-branding {
  //     width: 100%;
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //   }
  // }

  &.sticky-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $sticky-header-bg-color;
    .navbar-header {
      display: none;
    }
    @media screen and (min-width: 992px) {
      .site-branding {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
      .navbar {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        z-index: 99999;
        margin: 0;
        overflow-y: scroll;
        .navbar-collapser {
          // margin: 0;
          // overflow: hidden;
          // padding: 20px 0;
          // background-color: #973d1f;
          a {
            color: #fff;
          }
          .navbar-nav {
            margin: 0;
          }
        }
      }
      .mobile-toggle {
        display: block;
      }
    }
  }
  .header-content {
    .utility-bar {
      font-size: 13px;
      background-color: $brand-primary;
      display: none;
      padding: 10px gutter();

      @media screen and (min-width: 992px) {
        display: block;
      }

      span {
        color: #fff;
        text-transform: uppercase;
      }
      i {
        color: $brand-secondary;
        font-size: 15px;
      }

      > div {
        display: flex;
        justify-content: space-between;
        .left {
          display: flex;
          align-items: center;
          .lg-social-media-cont {
            .lg-social-media {
              padding: 0;
              margin: 0;
              list-style: none;
              display: flex;
              li {
                a {
                  width: 40px;
                  height: 40px;
                  display: flex;
                  text-align: center;
                  justify-content: center;
                  align-items: center;
                  background-color: $brand-primary;
                  i {
                    color: #fff;
                  }
                }
              }
            }
          }
          .header-address {
            color: #fff;
            .fa-map-marker {
              color: $brand-secondary;
              font-size: 15px;
            }
          }
        }
        .right {
          display: flex;
          align-items: center;
          > div {
            padding-left: 15px;
            span {
              color: #fff;
            }
            i {
              color: $brand-secondary;
              font-size: 15px;
            }
          }
        }
      }
    }
    .header-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $header-block-padding;
      flex-wrap: wrap;

      .site-branding {
        // width: 100%;

        // @include breakpoint($screen-sm-min) {
        //   width: auto;
        // }

        .logo {
          width: $header-logo-width;

          @media screen and (min-width: 992px) {
            width: $header-logo-width-sm;
            padding: 20px 0;
          }

          @media screen and (min-width: 992px) {
            width: $header-logo-width-md;
          }

          img {
            width: 100%;
            display: block;
          }
        }
      }
      .main-navigation {
        width: 100%;
        .navbar-collapser {
          // border: 0;
          // margin-top: 20px;
          // box-shadow: none;
          // @include breakpoint($screen-sm-min) {
          //   margin: 0;
          // }
        }

        #menu-main-menu {
          > li > a {
            &:focus,
            &:hover {
              color: #fff;
            }
          }
        }

        @media screen and (min-width: 992px) {
          width: auto;
          #menu-main-menu {
            > li > a {
              &:focus,
              &:hover {
                color: $brand-secondary;
              }
            }
          }
        }

        .dropdown-menu {
          > .active > a,
          .active > a:focus {
            background-color: transparent;
          }
          @media screen and (max-width: 992px) {
            position: relative;
            margin-left: 2rem;
            margin-bottom: 1rem;
            box-shadow: unset;
            background-color: transparent;
            a {
              color: #fff;
            }
          }
          border: 0;

          @media screen and (min-width: 992px) {
            $dropdown_width: 350px;
            width: $dropdown_width;
            left: calc(50% - #{$dropdown_width} / 2);
            position: absolute;
            background-color: #fff;
            padding: 0;
            border-radius: 0;
            text-align: center;
            li:not(:last-child) {
              border-bottom: 1px solid #e4e4e4;
            }
            a {
              color: $brand-primary;
              font-weight: 600;
              padding: 5px 30px;
              white-space: normal;
              &:hover,
              &:focus {
                background-color: $brand-secondary;
                color: #fff;
              }
            }
          }
        }

        .show-dropdown {
          display: block;
        }
      }
    }

    .navbar {
      border: 0;
    }
  }
}
