.site-info {
  text-align: center;

  @include breakpoint($screen-sm-min) {
    text-align: left;
  }
}

.site-longevity {
  text-align: center;

  @include breakpoint($screen-sm-min) {
    text-align: right;
  }
}

// Navigation Stuff
.nav-footer {
  ul {
    list-style: none;
    padding-left: 0;
  }
}

.spring-special {
  display: none;
}

.spring-special-mobile {
  background-color: #6db43e;
  width: 300px;
  position: fixed;
  z-index: 99;
  left: 0;
  bottom: -180px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  h1,
  h2 {
    font-size: 2rem;
    padding-top: 0;
    margin-top: 10px;
  }
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: white;
  }
  a {
    background-color: #1f4a9c;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    border: 2px solid #1f4a9c;
    color: white;
    &:hover {
      background-color: transparent;
      color: #1f4a9c;
    }
  }
}

.spring-special-arrow-rotate {
  transform: rotate(180deg);
}

.spring-special-mobile-toggle {
  bottom: 0px;
}

@media screen and(min-width: 769px) {
  .spring-special-mobile {
    display: none;
  }
  .spring-special {
    display: block;
    background-color: #6db43e;
    width: 500px;
    position: fixed;
    z-index: 99;
    left: 0;
    bottom: -100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    -webkit-animation-name: spring-special-animate; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: spring-special-animate;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    h1,
    h2 {
      font-size: 1.6rem;
      i {
        display: none;
      }
    }
    h3,
    h4,
    h5,
    h6 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: white;
    }
    a {
      background-color: #1f4a9c;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      display: inline-block;
      border: 2px solid #1f4a9c;
      color: white;
      &:hover {
        background-color: transparent;
        color: #1f4a9c;
      }
    }
  }
}

.spring-special-animate {
  @keyframes spring-special-animate {
    from {
      bottom: -100%;
    }
    to {
      bottom: 0px;
    }
  }
  @-webkit-keyframes spring-special-animate {
    from {
      bottom: -100%;
    }
    to {
      bottom: 0px;
    }
  }
}

.primary-text {
  color: $brand-primary;
}

.secondary-text {
  color: $brand-secondary;
}

.text-500 {
  font-weight: 500;
}

// Address Card
.address-card {
  @extend .well;
  background-color: transparent;
  // border-width: 0;
}

.cta {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.cta-primary {
  @extend .cta;

  background-color: $brand-primary;
  color: #fff;
  border: 2px solid $brand-primary;
  &:hover {
    background-color: #fff;
    color: $brand-primary;
  }
}

.ctas .cta-secondary:first-child {
  @extend .cta;

  background-color: $brand-secondary;
  color: #fff;
  border: 2px solid $brand-secondary;
  &:hover {
    background-color: #fff;
    color: $brand-secondary;
  }
}

.cta-secondary {
  @extend .cta;

  background-color: #fff;
  color: $brand-primary;
  border: 2px solid #fff;
  margin-right: 15px;
  &:hover {
    border-color: $brand-primary;
    background-color: #fff;
    color: $brand-primary;
  }
}

.site-top-banner {
  background-size: cover;
  > div {
    position: relative;
  }
  .h1 {
    @media screen and(max-width: 768px) {
      font-size: 2.25rem;
      line-height: 3rem;
    }
  }
  h1,
  h2 {
    color: #fff;
    font-weight: 500;
    max-width: 1100px;
    margin: 0 auto;
  }
  .page-title {
    max-width: 600px;
    font-weight: 400;
    padding: 10px 15px;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: auto auto;
    background-color: $brand-secondary;
    color: #fff;
  }
  .ctas {
    margin-top: 25px;
    .cta-primary {
      margin: 5px;
    }
  }
}

.reservation-cta {
  background-color: $brand-secondary;
  > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include breakpoint($screen-sm-min) {
      flex-direction: row;
    }
    .left {
      display: flex;
      align-items: center;
      img {
        max-width: 50px;
        margin: 0 50px;
      }
      h2 {
        color: #fff;
      }
    }
    .right {
      margin-top: gutter();
      padding: 0 50px;
      align-items: center;
      display: flex;

      @include breakpoint($screen-sm-min) {
        margin-top: 0;
      }
    }
  }
}

.faq {
  .collapse-item {
    margin-bottom: 15px !important;
    h2 {
      font-weight: 600;
      font-size: 16px !important;
    }
    > div {
      border-top: 0 !important;
    }
    p {
      margin-bottom: 0;
      font-size: 0.9rem;
    }

    &.active {
      h2 {
        border-bottom: 0 !important;
        color: $brand-primary !important;
      }

      > div {
        border-top: 0 !important;
      }
    }
  }
}

.reservation-form {
  .container {
    max-width: 800px;
    .gform_footer {
      @extend .center;
    }
  }
}

#breadcrumbs {
  color: #fff;
  margin-top: 1rem;
}

.service-temperature-controlled-storage {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
}
.temperature-controlled-storage {
  img {
    width: 100%;
    height: auto;
  }
}
.extra-protection-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  > div {
    width: 30%;
    padding: 0 1rem;
    margin-bottom: 1rem;
    img {
      width: 100%;
      height: auto;
    }
    h3 {
      margin: 0;
      line-height: 1.4;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    > div {
      width: 80%;
    }
  }
}
.service-q-a {
  background-color: #eeeeee;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  .container {
    padding: 0 1rem;
  }
  .q-and-a-intro {
    margin-bottom: 2rem;
  }
  .square-bg {
    padding: 10px;
    background-color: $brand-secondary;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    margin-right: 1rem;
  }
  .q-a-group {
    margin-bottom: 1.5rem;
  }
  .service-question {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .service-answer {
    display: flex;
    align-items: flex-start;
  }
}

.service-large-storage {
  h1,
  h2,
  h3,
  h4 {
    font-weight: 500;
  }
  .service-large-storage__our-lockers {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    .service-large-storage__our-lockers__formats {
      @media screen and (min-width: 992px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        > div {
          flex: 0 0 30%;
        }
      }
      .service-large-storage__our-lockers__content {
        border: 1px solid #000;
        padding: 1rem;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        box-sizing: border-box;
        max-width: 400px;
        margin: auto;
        margin-bottom: 1rem;
        &:first-child() {
          > div {
            padding: 2rem 1rem;
          }
        }
        &:nth-child(2) {
          > div {
            padding: 2rem 2.5rem;
          }
        }
        &:nth-child(3) {
          > div {
            padding: 2rem 4.5rem;
          }
        }
        > div {
          background-color: $brand-primary;
          color: #fff;
          text-align: center;
          // padding: 1rem 2rem;
          display: inline-block;
        }
      }
    }
  }
  .service-large-storage__storage-uses {
    background-color: #eeeeee;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    .container {
      padding: 0 1rem;
    }
    > div {
      @media screen and (min-width: 992px) {
        display: flex;
        > * {
          &:first-child {
            flex: 0 0 50%;
          }
          &:last-child {
            flex: 0 0 50%;
            align-self: center;
          }
        }
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }
  .service-large-storage__benefits {
    padding: 3rem 1rem;
    h2 {
      margin-bottom: 2rem;
    }
    .service-large-storage__benefits__content {
      h2 {
        margin-top: 0;
        margin-bottom: 0;
        &:last-child {
          margin-bottom: 1rem;
        }
      }
      img {
        width: 100%;
        height: auto;
        max-width: 125px;
        display: block;
        margin: auto;
      }
      @media screen and (min-width: 1024px) {
        img {
          width: auto;
          height: 100px;
          display: block;
          margin: unset;
          max-width: unset;
        }
        display: flex;
        flex-wrap: wrap;
        > div {
          flex: 0 0 30%;
          padding: 0 1rem;
        }
      }
    }
  }
  .service-large-storage__feature {
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    h2 {
      margin-bottom: 2rem;
    }
    .service-large-storage__feature__content {
      img {
        width: 100%;
        height: auto;
        max-width: 200px;
        display: block;
        margin: auto;
      }
      @media screen and (min-width: 1024px) {
        img {
          width: auto;
          height: 220px;
          display: block;
          margin: unset;
          margin-bottom: 12px;
          max-width: unset;
        }
        display: flex;
        flex-wrap: wrap;
        > div {
          flex: 0 0 30%;
          padding: 0 1rem;
        }
      }
    }
  }
}
