// Padding -------------------------------------------------------------------------------------------------------------

	// Padding Top
	.pt-xs{ padding-top: $padding-base-vertical; }
	.pt-sm{ padding-top: $padding-base-vertical * 2; }
	.pt-md{ padding-top: $padding-base-vertical * 3; }
	.pt-lg{ padding-top: $padding-base-vertical * 4; }
	.pt-xl{ padding-top: $padding-base-vertical * 6; }

	// Padding Right
	.pr-xs{ padding-right: $padding-base-vertical; }
	.pr-sm{ padding-right: $padding-base-vertical * 2; }
	.pr-md{ padding-right: $padding-base-vertical * 3; }
	.pr-lg{ padding-right: $padding-base-vertical * 4; }

	// Padding Bottom
	.pb-xs{ padding-bottom: $padding-base-vertical; }
	.pb-sm{ padding-bottom: $padding-base-vertical * 2; }
	.pb-md{ padding-bottom: $padding-base-vertical * 3; }
	.pb-lg{ padding-bottom: $padding-base-vertical * 4; }
	.pb-xl{ padding-bottom: $padding-base-vertical * 6; }

	// Padding Left
	.pl-xs{ padding-left: $padding-base-vertical; }
	.pl-sm{ padding-left: $padding-base-vertical * 2; }
	.pl-md{ padding-left: $padding-base-vertical * 3; }
	.pl-lg{ padding-left: $padding-base-vertical * 4; }

// Margin --------------------------------------------------------------------------------------------------------------

	// Margin Top
	.mt-xs{ margin-top: $padding-base-vertical; }
	.mt-sm{ margin-top: $padding-base-vertical * 2; }
	.mt-md{ margin-top: $padding-base-vertical * 3; }
	.mt-lg{ margin-top: $padding-base-vertical * 4; }

	// Margin right
	.mr-xs{ margin-right: $padding-base-vertical; }
	.mr-sm{ margin-right: $padding-base-vertical * 2; }
	.mr-md{ margin-right: $padding-base-vertical * 3; }
	.mr-lg{ margin-right: $padding-base-vertical * 4; }

	// Margin bottom
	.mb-xs{ margin-bottom: $padding-base-vertical; }
	.mb-sm{ margin-bottom: $padding-base-vertical * 2; }
	.mb-md{ margin-bottom: $padding-base-vertical * 3; }
	.mb-lg{ margin-bottom: $padding-base-vertical * 4; }

	// Margin Left
	.ml-xs{ margin-left: $padding-base-vertical; }
	.ml-sm{ margin-left: $padding-base-vertical * 2; }
	.ml-md{ margin-left: $padding-base-vertical * 3; }
	.ml-lg{ margin-left: $padding-base-vertical * 4; }

// Background  ---------------------------------------------------------------------------------------------------------




.bg-gray-base{
	background-color: $gray-base;
}

.bg-gray-darker{
	background-color: $gray-darker;
	color:#fff;
}

.bg-gray-dark{ 
	background-color: $gray-dark;
	color:#fff;
}

.bg-gray{
	background-color: $gray;
}

.bg-gray-light{
	background-color: $gray-light;
}

.bg-gray-lighter{
	background-color: $gray-lighter;
}

.bg-white{
	background-color: #fff;
}


// Not sure what or how to name this 
.btn-size{
	padding: $padding-base-vertical $padding-base-horizontal;
	display: inline-block;
}

.mobile-textcenter-xs{
	@include breakpoint(max-width $screen-xs-min){
		text-align: center;
	}
}

.center{
	text-align: center;
}

.non-visible{
	visibility: hidden;
}

.img-full{
	width:100%;
	display:block;
}

.h-padding{
	padding-left: gutter();
	padding-right: gutter();
	box-sizing:border-box;
}

.intro-block{
	>p{
		max-width: 80%;
		margin: auto auto;
	}
}

.ng-mt{
	margin-top: (-2) * gutter() !important;
	padding-top: (2) * gutter();
	position: relative;
	z-index:2;
	background-color:#fff;
}

.ng-mb{
	margin-bottom: (-2) * gutter() !important;
	padding-bottom: (2) * gutter();
	position: relative;
	z-index:2;
	background-color:#fff;
}