body {
  margin: 0;
}

.container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
}

// Site Content
.site-content {
  width: susy-span(12);

  .body-copy {
    padding: 0 gutter();
  }
}

// Site Header
.site-header {
  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $header-block-padding;
    flex-wrap: wrap;

    @include breakpoint($screen-sm-min) {
      flex-wrap: nowrap;
    }

    .site-branding {
      .logo {
        width: $header-logo-width;

        @include breakpoint($screen-sm-min) {
          width: $header-logo-width-sm;
        }

        @include breakpoint($screen-md-min) {
          width: $header-logo-width-md;
        }

        img {
          width: 100%;
          display: block;
        }
      }
    }
  }
}

// Site Footer
.site-footer {
  #site-footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    color: #fff;

    .nav-footer {
      padding: gutter() gutter() * 3;
    }

    .blog-feed {
      padding: gutter() gutter() * 3;

      @include breakpoint($screen-sm-min) {
        order: -1;
      }

      @include breakpoint($screen-lg-min) {
        order: initial;
      }
    }

    .footer-logo,
    .footer-utility,
    .nav-footer {
      width: 400px;
      padding: gutter() 0;
      @include breakpoint($screen-sm-min) {
        padding: gutter() gutter() * 3;
      }
    }

    .tenant-login-link {
      margin-bottom: 20px;
      display: block;
    }
  }

  #site-legal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .site-info {
      width: susy-span(12);
      text-align: center;

      @include breakpoint($screen-xs-min) {
        width: susy-span(6);
        text-align: left;
      }
    }

    .site-longevity {
      width: susy-span(12);
      text-align: center;

      @include breakpoint($screen-xs-min) {
        width: susy-span(6);
        text-align: right;
      }
    }
  }
}

picture {
  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

.service-list {
  section {
    img {
      max-width: 100% !important;
      width: auto !important;
      height: auto !important;
    }
  }
}

.home {
  .services {
    > div {
      .split-image {
        img {
          max-width: 100% !important;
          width: auto !important;
          height: auto !important;
        }
      }
    }
  }
}

.home {
  .home-shredding {
    img {
      max-width: 100% !important;
      width: auto !important;
      height: auto !important;
    }
  }
}
