@mixin split-content( 
	$image-width: 50%, 
	$copy-width: 50%, 
	$reverse: false,
	$max-height-tablet: 350px, 
	$copy-horizontal-padding: 5%, 
	$copy-vertical-padding: 2rem,
    $copy-horizontal-margin: 12px,
	$copy-align-top: false,
	$copy-text-align: left,
    $image-flex: false,
	$breakpoint: 768px,
	$h2-size: null,
	$h3-size: null,
	$li-size: 1rem,
	$a-size: 1rem
){
	display: flex;
    align-items: center;
    width: 100%;

    @if $copy-align-top == true {
		align-items: flex-start;
    }
    @if $reverse == true {
		flex-direction: row-reverse;
    }
    .split-image {
        width: $image-width;
        position: relative;
        @if $image-flex == true {
            display: flex;
            @media screen and (max-width: $breakpoint) {
                max-height:$max-height-tablet;
                overflow:hidden;
                align-items:center;
            }
        }
        img {
            width: 100%;
        }
    }
    .split-copy {
        width: auto;
        padding: $copy-vertical-padding $copy-horizontal-padding;
	    margin: $copy-horizontal-margin auto;
        box-sizing: border-box;

        @media screen and (min-width: $breakpoint + 1) {
            max-width: $copy-width;
        }

        @if $copy-align-top == true {
            padding: 0 $copy-horizontal-padding;
            margin: 0;
        } else {
            padding: $copy-vertical-padding $copy-horizontal-padding;
            margin: 12px 0;
        }

	    h1, h2, h3, h4, h5, h6, div, span, p, li, a{
	    	text-align: $copy-text-align;	
	    }

	    h2 {
            font-size: $h2-size;
	    }
	    h3{
	    	font-size:$h3-size;
            margin-top:9px !important;
	    }
	    ul,ol {
	        padding-left: 20px;
            padding:0;
            margin:0;
	        li {
	            margin-bottom: .3rem;
	            font-size: $li-size;
	        }
	    }
        a{
            font-size:$a-size;
        }
    }


	@media screen and (max-width: $breakpoint + 1) {
        flex-direction: column;
        .split-copy {
            padding:15px;
            p,
            h2,h3,
            img,>div,ul,ol {
                padding: 0;
            }
            ul,ol,a{
                margin-left: 0;
            }
        }
        .split-copy,
        .split-image {
            width: 100%;
        }
	}
} 