.contact-us{
	.contact{
		>div{
			background-color: #fff;
			>div{
				@include split-content($image-width: 45%, $copy-width: 55%, $image-flex: false, $copy-align-top: true);

				img{
					display: none;
					@include breakpoint($screen-sm-min){
						display: block;
					}
				}
			}
		}
	}
}