.home {
  .site-top-banner {
    .title {
      .cta {
        @extend .mb-xs;
      }
    }
  }
  .page-sub-title {
    color: #fff;
    padding-top: 30px;
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
  .intro {
    p {
      max-width: 800px;
      margin: auto auto;
    }
    .fa-shield {
      font-size: 4rem;
      color: $brand-secondary;
    }
  }
  .services {
    > div {
      @include split-content();
    }
  }
  .advantage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    > div {
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      text-align: left;

      @include breakpoint($screen-sm-min) {
        width: 50%;
      }

      @include breakpoint($screen-md-min) {
        width: 33%;
        font-size: 15px;
      }

      .thumb {
        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
  .u-haul {
    > div {
      @include split-content();
      .split-image {
        img {
          padding: 50px;
          width: 100%;
          box-sizing: border-box;
        }
      }
    }
  }
  .contact-us {
    > div {
      @include split-content($reverse: true);
    }
  }

  .home-shredding {
    position: absolute;
    right: 0;
    top: 150px;
    max-width: 250px;
    margin: auto auto;
    display: none;

    @include breakpoint($screen-md-min) {
      display: block;
    }

    img {
      width: 100%;
      display: block;
    }
  }

  .home-slider {
    .slick-dots {
      bottom: 2rem;
      z-index: 999;
      li button:before {
        color: #fff;
        font-size: 8px;
      }
    }
    .slick-slide {
      position: relative;
      img {
        min-width: 100%;
        height: 550px;
        object-fit: cover;
        @media screen and(min-width: 769px) {
          height: 700px;
        }
      }
      .overlay {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding-top: 0 !important;
        @media screen and(min-width: 800px) {
          padding-top: 5rem !important;
        }
      }
    }
  }
}
