.storage-type {
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.price-list-title {
  margin-bottom: 3rem;
}

.price-list-table {
  border: 2px solid #6db43e;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  margin: -1px;
  .price-list-header-table {
    display: flex;
    text-align: center;
    background-color: #6db43e;
    margin: -1px;
    > h4 {
      width: 100%;
      color: #fff;
      font-weight: 600;
    }
  }

  .price-list-row {
    display: flex;
    text-align: center;
    padding: 0.5rem 0;
    &:not(:last-child) {
      border-bottom: 2px solid #ccc;
    }
    > div {
      width: 100%;
    }
  }
}
