.service-list {
  section {
    @extend .mb-lg;

    &:last-child {
      margin-bottom: 0;
    }
    img {
      display: block;
      max-width: 600px;
      margin: auto auto;
      width: 100%;
    }
    .benefits {
      text-align: left;
      margin-top: 40px;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          background-image: url(/wp-content/themes/wp-web-falcon-storage/assets/dist/images/checkmark.png);
          background-repeat: no-repeat;
          background-size: 20px;
          padding-left: 30px;
          background-position: 0px 3px;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
