// ---- Susy Grid

$susy: (
  'columns': 							susy-repeat(12),
  'gutters': 							15px, 
  'spread': 							'narrow', 
  'container-spread': 					'narrow',
);

$container-width: 						1000px;
 
// ----- Font Awesome

$fa-font-path:        					"./assets/dist/fonts";

// ---- Colors

$gray-base:              				#000;
$gray-darker:            				lighten($gray-base, 13.5%); // #222
$gray-dark:              				lighten($gray-base, 20%);   // #333
$gray:                   				lighten($gray-base, 33.5%); // #555
$gray-light:             				lighten($gray-base, 46.7%); // #777
$gray-lighter:           				lighten($gray-base, 93.5%); // #eee

$brand-primary:          				#1F4A9C; // #337ab7
$brand-secondary:        				#6db43e; // #337ab7

// ---- Header

$header-block-padding: 					15px;

$header-logo-width: 					100px;
$header-logo-width-sm: 					100px;
$header-logo-width-md: 					130px;

//Sticky Header

$sticky-header-bg-color:				transparent;

// ---- Padding

$padding-base-vertical: 				15px;

// ---- Nav Bar

$navbar-default-bg: 					transparent;
$navbar-default-link-color:     		#fff;

$navbar-default-link-hover-color:   	$brand-secondary;
$navbar-default-link-active-color:      #fff;
$navbar-default-link-active-bg:  		$brand-secondary;

$navbar-font-size:						15px;
$navbar-font-size-sm:					15px;
$navbar-font-size-md:					15px;

$navbar-margin-bottom:          		0;
$navbar-height:                 		0;
$navbar-border-radius:          		0;

// ---- Link
$link-color:							$brand-secondary;

// ---- Typography

//$font-family-base:        			$font-family-sans-serif;

$base-font-size:         	  			15px;
$base-font-size-sm:          			15px;
$base-font-size-md:         			16px;

$font-family-base:						'Roboto', sans-serif;
$line-height-base:        				1.6;
$font-weight-base:						400;

$font-size-h1:            				2rem;
$font-size-h2:            				1.6rem;
$font-size-h3:            				1.4rem;

$headings-font-family:    				'Roboto Slab', serif;
$headings-font-weight:    				300;
$headings-line-height:    				1.1;
$headings-color:          				$brand-primary;

// ---- Form
$input-height-base:             		38px;

// ---- Media Query
$screen-xs-min: 						480px;
$screen-sm-min: 						769px;